<h1>TaskCategories#index</h1>
<p>Find me in app/views/task_categories/index.html.erb</p>
<div> Welcome <%= current_user.email %> </div><br>

<% @task_categories.each do |task_category| %>
  <p>
    <strong><%= task_category.name %></strong> | 
    <%= link_to "Edit", edit_task_category_path(task_category) %> 
    <%= link_to "Show", task_category_path(task_category) %> 
    <%= link_to "Add Task", new_task_category_task_path(task_category) %>
  </p>

  <% if task_category.tasks.any? %>
    <% task_category.tasks.each do |task| %>
      <ul>
        <li>
          <%= task.name %> | 
          <%= link_to "Edit", edit_task_path(task) %> | 
          <%= link_to "Show", task_path(task) %>
        </li>
      </ul>
    <% end %>
  <% else %>
    <p>Start small (or dream big)... Add a task to start your productivity.</p>
  <% end %>
  <br>

<% end %>

<p>
  <%= link_to "Add Category", new_task_category_path %> 
<p> <br>

<%= button_to "Sign out", destroy_user_session_path, method: :delete %>